<h2>All Users</h2>

<h2>User List</h2>
<ul>
  {{#each userList}}
  <li>
    <ul>
      <li>First Name: {{this.firstname}}</li>
      <li>Last Name: {{this.lastname}}</li>
      <li>Username: {{this.username}}</li>
      <li>Email: {{this.email}}</li>
      <li>Role: {{this.role}}</li>
    </ul>
    <form action="/delete-user/{{this._id}}" method="post">
      <button>Delete User</button>
    </form>
  </li>
  {{/each}}
  <br>
  <a href="/dashboard">Go to main page</a>
</ul>