<h3>Edit Your Profile</h3>
<form action="/process-edit-profile/{{blahUser._id}}" method="POST">
  <label for="firstname">First Name</label>
  <input id="firstname" type="firstname" name="firstname" placeholder="Provide your First Name" value="{{blahUser.firstname}}">
  <br>
  <br>
  <label for="lastname">Last Name</label>
  <input id="lastname" type="lastname" name="lastname" placeholder="Provide your Last Name" value="{{blahUser.lastname}}">
  <br>
  <br>
  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="Provide your Email" value="{{blahUser.email}}">
  <br>
  <br>
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Set Username" value="{{blahUser.username}}">
  <br>
  <br>
  <label for="companyName">Company Name</label>
  <input id="companyName" type="companyName" name="companyName" placeholder="Set Company Name" value="{{blahUser.companyName}}">
  <br>
  <br>
  <label for="address">Address</label>
  <input id="address" type="address" name="address" placeholder="Set Address" value="{{blahUser.address}}">
  <br>
  <br>
  <label for="phoneNumber">Phone Number</label>
  <input id="phoneNumber" type="phoneNumber" name="phoneNumber" placeholder="Set Phone Number" value="{{blahUser.address}}">
  <br>
  <br>
  <button>Update</button>
</form>
<br>
<a href="/dashboard">Go to main page</a>